body{
    background: #2793cb;
    padding: 27px 155px 0;
}
.title{
    font: 700 18px/1 'Roboto', sans-serif;
    line-height: 24px;
    color: #fff;
    margin-bottom: 27px;
}
.weather{
    width: 100%;
    max-width: 680px;
    display: block;
}
.name{
    font: 400 14px/1 'Roboto', sans-serif;
    line-height: 18px;
    color: #fff;
}
.temperature{
    font: 400 14px/1 'Roboto', sans-serif;
    line-height: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.weather-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-city{
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #fff;
}
.wi-night-sleet{
    font-size: 24px;
    color: #fff;
}
.weather-city .wi{
    font-size: 20px;
    color: #fff;
    margin:15px 5px 0 0;
}
.weather-data:nth-child(1) .weather-city:nth-child(1){
    max-width: 350px;
    background: #2793cb;
    border-bottom: 0;
}
.weather-data:nth-child(1) .weather-city:nth-child(2){
    max-width: 163px;
    background: #24bdc8;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
.weather-data:nth-child(1) .weather-city:nth-child(3){
    max-width: 164px;
    background: #986f95;
    border-bottom: 0;
}
.weather-data:nth-child(2) .weather-city:nth-child(1){
    max-width: 180px;
    background: #c75442;
    border-bottom: 0;
}
.weather-data:nth-child(2) .weather-city:nth-child(2){
    max-width: 170px;
    background: #e77145;
    border-bottom: 0;
    border-left: 0;

}
.weather-data:nth-child(2) .weather-city:nth-child(3){
    max-width: 170px;
    background: #ffcb5d;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

}
.weather-data:nth-child(2) .weather-city:nth-child(4){
    max-width: 170px;
    background: #93c395;
    border-bottom: 0;
}
.weather-data:nth-child(3) .weather-city:nth-child(1){
    max-width: 164px;
    background: #5e9494;
}
.weather-data:nth-child(3) .weather-city:nth-child(2){
    max-width: 340px;
    background: #cf7294;
    border-left: 0;
    border-right: 0;
}
.weather-data:nth-child(3) .weather-city:nth-child(3){
    max-width: 164px;
    background: #2a8c62;
    
}
.weather-data:nth-child(4) .weather-city:nth-child(1){
    max-width: unset;
    background: #636996;
    border-top: 0;
}

.footer{
    font: 400 14px/1 'Roboto', sans-serif;
    color: #fff;
    line-height: 18px;
    margin: 24px 0 120px;
}